.wp-block-button.alignright .wp-block-button__link {
  float: right;
  margin-left: 1.5em;
}

.wp-block-button.alignleft .wp-block-button__link {
  float: left;
  margin-right: 1.5em;
}

.wp-block-button .wp-block-button__link {
  border-radius: 30px;
  background: #ff500d;
  border: 2px solid #ff500d;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  padding: 1.125rem 1.25rem;
}

.wp-block-button .wp-block-button__link:hover {
  text-decoration: none;
  cursor: pointer;
  background: #8529cd;
  border-color: #8529cd;
}

.wp-block-button .wp-block-button__link:active, .wp-block-button .wp-block-button__link:focus {
  text-decoration: none;
}

.wp-block-button .wp-block-button__link.has-background.has-purple-background-color:hover {
  background: #ff500d;
}

.wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  border: 2px solid;
  border-radius: 36px;
  color: #8529cd;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover:not(.has-background) {
  color: #fff;
  background: #8529cd;
}

.wp-block-button.is-style-outline .wp-block-button__link.has-text-color.has-purple-color:not(.has-background):hover {
  color: #ff500d;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: inherit;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background) {
  background: transparent;
}

.wp-block-file .wp-block-file__button {
  display: inline-block;
  border-radius: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-weight: 700;
  line-height: 1;
  padding: 1.125rem 1.25rem;
  background: #ff500d;
  border: 2px solid #ff500d;
  color: #fff;
}

.wp-block-file .wp-block-file__button:hover {
  text-decoration: none;
  cursor: pointer;
  background: #8529cd;
}

.wp-block-file .wp-block-file__button:active, .wp-block-file .wp-block-file__button:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .wp-block-columns {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.wp-block-column {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5em;
}

@media (min-width: 768px) {
  .wp-block-column {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}

.wp-block-column:nth-child(odd) {
  margin-right: 0;
}

.wp-block-column:not(:first-child), .wp-block-column:nth-child(2n) {
  margin-left: 0;
}

@media (min-width: 768px) {
  .wp-block-column:not(:first-child), .wp-block-column:nth-child(2n) {
    margin-left: 30px;
  }
}

@media (min-width: 768px) {
  .wp-block-column:not(:last-child) {
    margin-right: 30px;
  }
}

.wp-block-column > * {
  margin-bottom: 1.5em;
}

.wp-block-column > *:last-child {
  margin-bottom: 0;
}

.wp-block-getwid-media-text-slider .slick-dots {
  max-width: 1400px;
  left: 0;
  right: 0;
  text-align: right;
  bottom: 40px;
}

.wp-block-getwid-media-text-slider .slick-dots li button {
  width: 12px;
  height: 12px;
  background: #fff;
  border: 2px solid #7c19c9;
  opacity: .5;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.wp-block-getwid-media-text-slider .slick-dots li button:hover {
  background: #7c19c9;
  opacity: 1;
}

.wp-block-getwid-media-text-slider .slick-dots li button:before {
  display: none;
}

.wp-block-getwid-media-text-slider .slick-dots li.slick-active button {
  background: #7c19c9;
  opacity: 1;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post-title a {
  color: inherit;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post-title a:hover {
  color: #ff510d;
  text-decoration: none;
}

.wp-block-getwid-testimonial {
  text-align: center;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__content-wrapper + .wp-block-getwid-testimonial__header {
  margin-top: 2.5rem;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__content {
  color: #7a8899;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__image-wrapper {
  max-width: 96px;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__header .wp-block-getwid-testimonial__heading {
  margin: 1rem 0 0 0;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__header .wp-block-getwid-testimonial__title {
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__header .wp-block-getwid-testimonial__subtitle {
  font-size: 14px;
  font-size: 0.875rem;
}

.wp-block-getwid-advanced-heading p {
  margin-bottom: 0;
}

.wp-block-getwid-section.is-style-bordered {
  border: 1px solid #b8cde4;
  border-radius: 5px;
  overflow: hidden;
}

.getwid-columns {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.getwid-columns.getwid-columns-1 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-1 > * {
    width: 100%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-2 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-2 > * {
    width: 50%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-3 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-3 > * {
    width: 33.33333%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-4 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-4 > * {
    width: 25%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-5 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-5 > * {
    width: 20%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-6 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-6 > * {
    width: 16.66667%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-7 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-7 > * {
    width: 14.28571%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-8 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-8 > * {
    width: 12.5%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-9 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-9 > * {
    width: 11.11111%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-10 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-10 > * {
    width: 10%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-11 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-11 > * {
    width: 9.09091%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-12 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-12 > * {
    width: 8.33333%;
    margin-bottom: 0;
  }
}

.has-dark-grey-color {
  color: #242424;
}

.has-dark-grey-background-color {
  background-color: #242424;
}

.has-grey-color {
  color: #7a8899;
}

.has-grey-background-color {
  background-color: #7a8899;
}

.has-orange-color {
  color: #ff510d;
}

.has-orange-background-color {
  background-color: #ff510d;
}

.has-purple-color {
  color: #801fca;
}

.has-purple-background-color {
  background-color: #801fca;
}

.has-white-color {
  color: #ffffff;
}

.has-white-background-color {
  background-color: #ffffff;
}

.has-black-color {
  color: #000000;
}

.has-black-background-color {
  background-color: #000000;
}

body {
  color: #2a323a;
  font-family: "Ubuntu", sans-serif;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.5;
  background: #e7edf3;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin-top: 1.5em;
  margin-bottom: .5em;
  font-weight: 700;
  color: #242424;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 42px;
  font-size: 2.625rem;
}

h2 {
  font-size: 36px;
  font-size: 2.25rem;
}

h3 {
  font-size: 28px;
  font-size: 1.75rem;
}

h4 {
  font-size: 24px;
  font-size: 1.5rem;
}

h5 {
  font-size: 20px;
  font-size: 1.25rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
}

a {
  color: #ff510d;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover {
  text-decoration: underline;
}

a:hover, a:focus, a:active {
  color: #ff510d;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

.wp-block {
  max-width: 1043px;
}

.wp-block.editor-post-title__block {
  font-size: 30px;
  font-size: 1.875rem;
}

.wp-block.editor-post-title__block .editor-post-title__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: 700;
  text-align: center;
}
