/*
Theme Name: CosmoFusion

Adding support for languages written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right-to-Left_Language_Support

*/

/*
body {
	direction: rtl;
	unicode-bidi: embed;
}
*/

.site-header .site-branding .custom-logo-link + .site-title{
  margin-left: 0;
  margin-right: 1.25rem;
}


.main-navigation{
  ul{
    padding: 0;
  }
}

.entry-header .entry-meta > span{
  margin-right: 0;
  margin-left: 1.25rem;
}

.entry-footer .tags-links > i{
  margin-right: 0;
  margin-left: 1.25rem;
}

.comments-area .comment-list .comment-body{
  padding-right: 120px;
}

.comments-area .comment-list .avatar{
  left: auto;
  right: 0;
}

@media screen and (max-width: 767px){
  .main-navigation .primary-menu-container > ul li.menu-item-has-children a {
    padding-right: 1rem;
    padding-left: 50px;
  }
  .main-navigation .primary-menu-container > ul .sub-menu{
    padding-left: 0;
    padding-right: 1.25rem;
  }
}
.dropdown-toggle{
  left: 0;
  top: 0;
  right: auto;
}
