.container{
    max-width: $content-width;
    margin: 0 auto;
    &:after{
        display: table;
        content: '';
        clear: both;
    }
}

.site-content{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    @include respond-to(sm){
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    @include respond-to(sm){
        padding-left: 3.125rem;
        padding-right: 3.125rem;
    }
}

.site-content{
    padding-top: 150px;
    padding-bottom: 70px;
}

.content-area{
    @include respond-to(md){
        float: left;
        width: calc(100% - 357px);
    }
}

.widget-area{
    @include respond-to(md){
        width: 326px;
        float: right;
    }
}