@import "../mixins/mixins-master";
@import "../variables-site/variables-site";

@import "../blocks/blocks";

body{
  color: $color__text-main;
  font-family: $font__main;
  @include font-size(17/16);
  line-height: $font__line-height-body;
  background: $color__background-body;
}
@import "../typography/headings";
@import "../navigation/links";


.wp-block {
  max-width: 1043px;

  &.editor-post-title__block{
    @include font-size(30/16);
    .editor-post-title__input{
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      font-weight: 700;
      text-align: center;
    }
  }
}