button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.more-link{
	display: inline-block;
	border: 2px solid;
	border-color: #ff500d;
	border-radius: 30px;
	background: #ff500d;
	color: #fff;
	@include font-size(18/16);
	line-height: 1;
	padding: 1.125rem 1.25rem;
	transition: all .3s ease;
	font-weight: 700;
	&:hover {
		cursor: pointer;
		background: transparent;
		border-color: #8529cd;
		color: #8529cd;
		text-decoration: none;
	}
	&:focus,
	&:active{
		color: #fff;
		outline: none;
	}
}

