input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select{
	display: block;
	width: 100%;
	color: $color__text-main;
	border: 1px solid #b8cde4;
	border-radius: 30px;
	background: #fff;
	padding: 17px 20px;

	&:focus {
		border-color: darken(#b8cde4, 20%);
		outline: none;
	}
}

select {
	height: 60px;
}

textarea {
	width: 100%;
}

label{
	display: inline-block;
	margin-bottom: .25em;
	@include font-size(.875);
}

select{
	height: 36px;
}

input[type='checkbox'],
input[type='radio']{
	display: inline-block;
	margin-right: .5em;
	+ label{
		display: inline;
	}
}

form{
	> *{
		margin-bottom: 1rem;
		margin-top: 0;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.wpcf7{
	overflow: hidden;
}
.wpcf7-form{
	margin-left: -15px;
	margin-right: -15px;
	&:after,
	&:before{
		display: table;
		content: '';
		clear: both;
	}
	label{
		width: 100%;
	}
	> *{
		float: left;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
		&.col{
			width: 50%;
		}
	}
	input[type="submit"]{
		border-color: #8529cd;
		border-radius: 30px;
		background: transparent;
		color: #8529cd;
		&:hover {
			border-color: #ff500d;
			color: #fff;
			background: #ff500d;
		}
	}
}