@charset "UTF-8";
/*!
Theme Name: Cosmo Fusion
Theme URI: http://www.freecouponsites.org/cosmofusion/
Author: MasterBundles
Author URI: https://profiles.wordpress.org/masterbundlesthemes/
Description: Hot offer! Gain a modern and stylish Free WordPress Landing Theme! Multifunctional and clean, with this WP product, you’ll create an inviting atmosphere on your landing. No one seeing it will refuse to look closer at possible propositions, scrolling your website.It’s a perfect match for commercial purposes. The theme is already powered with everything from smooth navigation, action buttons to the carousel and video forms. So, you can save your time greatly! We’ve tested it on a hundred different small businesses and they all say that this is the ideal structure for selling different goods and services. And YES, a blog based on it will be also very beautiful
Version: 1.3.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: cosmo-fusion
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready, block-styles

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

CosmoFusion is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #2a323a;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin-top: 1.5em;
  margin-bottom: .5em;
  font-weight: 700;
  color: #242424;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 42px;
  font-size: 2.625rem;
}

h2 {
  font-size: 36px;
  font-size: 2.25rem;
}

h3 {
  font-size: 28px;
  font-size: 1.75rem;
}

h4 {
  font-size: 24px;
  font-size: 1.5rem;
}

h5 {
  font-size: 20px;
  font-size: 1.25rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #e7edf3;
  /* Fallback for when there is no custom background color defined. */
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 0;
  padding-left: 1em;
}

ul:last-child, ol:last-child {
  margin-bottom: 0;
}

ul li, ol li {
  margin-bottom: 1em;
}

ul li:last-child, ol li:last-child {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: .5em;
  margin-top: 1em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

.wp-block-table td, .wp-block-table th,
th,
td {
  border: 1px solid #c2cedc;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 1.5rem;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  font-weight: 500;
  color: #2a323a;
}

th,
td {
  padding: 6px 10px;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.more-link {
  display: inline-block;
  border: 2px solid;
  border-color: #ff500d;
  border-radius: 30px;
  background: #ff500d;
  color: #fff;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1;
  padding: 1.125rem 1.25rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-weight: 700;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover,
.more-link:hover {
  cursor: pointer;
  background: transparent;
  border-color: #8529cd;
  color: #8529cd;
  text-decoration: none;
}

button:focus, button:active,
input[type="button"]:focus,
input[type="button"]:active,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="submit"]:focus,
input[type="submit"]:active,
.button:focus,
.button:active,
.more-link:focus,
.more-link:active {
  color: #fff;
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
  display: block;
  width: 100%;
  color: #2a323a;
  border: 1px solid #b8cde4;
  border-radius: 30px;
  background: #fff;
  padding: 17px 20px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus {
  border-color: #6e99c8;
  outline: none;
}

select {
  height: 60px;
}

textarea {
  width: 100%;
}

label {
  display: inline-block;
  margin-bottom: .25em;
  font-size: 14px;
  font-size: 0.875rem;
}

select {
  height: 36px;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
  margin-right: .5em;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  display: inline;
}

form > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

form > *:last-child {
  margin-bottom: 0;
}

.wpcf7 {
  overflow: hidden;
}

.wpcf7-form {
  margin-left: -15px;
  margin-right: -15px;
}

.wpcf7-form:after, .wpcf7-form:before {
  display: table;
  content: '';
  clear: both;
}

.wpcf7-form label {
  width: 100%;
}

.wpcf7-form > * {
  float: left;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.wpcf7-form > *:last-child {
  margin-bottom: 0;
}

.wpcf7-form > *.col {
  width: 50%;
}

.wpcf7-form input[type="submit"] {
  border-color: #8529cd;
  border-radius: 30px;
  background: transparent;
  color: #8529cd;
}

.wpcf7-form input[type="submit"]:hover {
  border-color: #ff500d;
  color: #fff;
  background: #ff500d;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.theme-social-menu a[href*="twitter.com"] .menu-text, .theme-social-menu a[href*="facebook.com"] .menu-text, .theme-social-menu a[href*="plus.google.com"] .menu-text, .theme-social-menu a[href*="pinterest.com"] .menu-text, .theme-social-menu a[href*="foursquare.com"] .menu-text, .theme-social-menu a[href*="yahoo.com"] .menu-text, .theme-social-menu a[href*="skype:"] .menu-text, .theme-social-menu a[href*="yelp.com"] .menu-text, .theme-social-menu a[href*="linkedin.com"] .menu-text, .theme-social-menu a[href*="viadeo.com"] .menu-text, .theme-social-menu a[href*="xing.com"] .menu-text, .theme-social-menu a[href*="soundcloud.com"] .menu-text, .theme-social-menu a[href*="spotify.com"] .menu-text, .theme-social-menu a[href*="last.fm"] .menu-text, .theme-social-menu a[href*="youtube.com"] .menu-text, .theme-social-menu a[href*="vimeo.com"] .menu-text, .theme-social-menu a[href*="vine.com"] .menu-text, .theme-social-menu a[href*="flickr.com"] .menu-text, .theme-social-menu a[href*="500px.com"] .menu-text, .theme-social-menu a[href*="instagram.com"] .menu-text, .theme-social-menu a[href*="tumblr.com"] .menu-text, .theme-social-menu a[href*="reddit.com"] .menu-text, .theme-social-menu a[href*="dribbble.com"] .menu-text, .theme-social-menu a[href*="stumbleupon.com"] .menu-text, .theme-social-menu a[href*="digg.com"] .menu-text, .theme-social-menu a[href*="behance.net"] .menu-text, .theme-social-menu a[href*="delicious.com"] .menu-text, .theme-social-menu a[href*="deviantart.com"] .menu-text, .theme-social-menu a[href*="play.com"] .menu-text, .theme-social-menu a[href*="wikipedia.com"] .menu-text, .theme-social-menu a[href*="apple.com"] .menu-text, .theme-social-menu a[href*="github.com"] .menu-text, .theme-social-menu a[href*="github.io"] .menu-text, .theme-social-menu a[href*="windows.com"] .menu-text, .theme-social-menu a[href*="tripadvisor."] .menu-text, .theme-social-menu a[href*="slideshare.net"] .menu-text, .theme-social-menu a[href*=".rss"] .menu-text, .theme-social-menu a[href*="vk.com"] .menu-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.theme-social-menu a[href*="twitter.com"]:before, .theme-social-menu a[href*="facebook.com"]:before, .theme-social-menu a[href*="plus.google.com"]:before, .theme-social-menu a[href*="pinterest.com"]:before, .theme-social-menu a[href*="foursquare.com"]:before, .theme-social-menu a[href*="yahoo.com"]:before, .theme-social-menu a[href*="skype:"]:before, .theme-social-menu a[href*="yelp.com"]:before, .theme-social-menu a[href*="linkedin.com"]:before, .theme-social-menu a[href*="viadeo.com"]:before, .theme-social-menu a[href*="xing.com"]:before, .theme-social-menu a[href*="soundcloud.com"]:before, .theme-social-menu a[href*="spotify.com"]:before, .theme-social-menu a[href*="last.fm"]:before, .theme-social-menu a[href*="youtube.com"]:before, .theme-social-menu a[href*="vimeo.com"]:before, .theme-social-menu a[href*="vine.com"]:before, .theme-social-menu a[href*="flickr.com"]:before, .theme-social-menu a[href*="500px.com"]:before, .theme-social-menu a[href*="instagram.com"]:before, .theme-social-menu a[href*="tumblr.com"]:before, .theme-social-menu a[href*="reddit.com"]:before, .theme-social-menu a[href*="dribbble.com"]:before, .theme-social-menu a[href*="stumbleupon.com"]:before, .theme-social-menu a[href*="digg.com"]:before, .theme-social-menu a[href*="behance.net"]:before, .theme-social-menu a[href*="delicious.com"]:before, .theme-social-menu a[href*="deviantart.com"]:before, .theme-social-menu a[href*="play.com"]:before, .theme-social-menu a[href*="wikipedia.com"]:before, .theme-social-menu a[href*="apple.com"]:before, .theme-social-menu a[href*="github.com"]:before, .theme-social-menu a[href*="github.io"]:before, .theme-social-menu a[href*="windows.com"]:before, .theme-social-menu a[href*="tripadvisor."]:before, .theme-social-menu a[href*="slideshare.net"]:before, .theme-social-menu a[href*=".rss"]:before, .theme-social-menu a[href*="vk.com"]:before {
  margin-right: 0;
}

.theme-social-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.theme-social-menu li {
  margin: 0 7px 7px;
  padding: 0;
}

.theme-social-menu li a {
  display: block;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  font-size: 0.875rem;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.theme-social-menu li a:hover {
  color: #060d32;
  background: #fff;
}

.theme-social-menu a:before {
  font: normal normal normal .875rem/1 "Font Awesome 5 Brands";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px;
  display: inline-block !important;
  width: 1.25em;
  height: 1em;
  text-align: center;
}

.theme-social-menu a:empty {
  width: 1em;
}

.theme-social-menu a[href*="twitter.com"]:before {
  content: "\f099";
}

.theme-social-menu a[href*="facebook.com"]:before {
  content: "\f09a";
}

.theme-social-menu a[href*="google.com"]:before {
  content: "\f2b3";
}

.theme-social-menu a[href*="/map"]:before {
  content: "\f041";
}

.theme-social-menu a[href*="pinterest.com"]:before {
  content: "\f0d2";
}

.theme-social-menu a[href*="foursquare.com"]:before {
  content: "\f180";
}

.theme-social-menu a[href*="yahoo.com"]:before {
  content: "\f19e";
}

.theme-social-menu a[href*="skype:"]:before {
  content: "\f17e";
}

.theme-social-menu a[href*="yelp.com"]:before {
  content: "\f1e9";
}

.theme-social-menu a[href*="linkedin.com"]:before {
  content: "\f08c";
}

.theme-social-menu a[href*="viadeo.com"]:before {
  content: "\f2a9";
}

.theme-social-menu a[href*="xing.com"]:before {
  content: "\f168";
}

.theme-social-menu a[href*="soundcloud.com"]:before {
  content: "\f1be";
}

.theme-social-menu a[href*="spotify.com"]:before {
  content: "\f1bc";
}

.theme-social-menu a[href*="last.fm"]:before {
  content: "\f202";
}

.theme-social-menu a[href*="youtube.com"]:before {
  content: "\f167";
}

.theme-social-menu a[href*="vimeo.com"]:before {
  content: "\f40a";
}

.theme-social-menu a[href*="vine.com"]:before {
  content: "\f1ca";
}

.theme-social-menu a[href*="flickr.com"]:before {
  content: "\f16e";
}

.theme-social-menu a[href*="500px.com"]:before {
  content: "\f26e";
}

.theme-social-menu a[href*="instagram.com"]:before {
  content: "\f16d";
}

.theme-social-menu a[href*="tumblr.com"]:before {
  content: "\f173";
}

.theme-social-menu a[href*="reddit.com"]:before {
  content: "\f1a1";
}

.theme-social-menu a[href*="dribbble.com"]:before {
  content: "\f17d";
}

.theme-social-menu a[href*="stumbleupon.com"]:before {
  content: "\f1a4";
}

.theme-social-menu a[href*="digg.com"]:before {
  content: "\f1a6";
}

.theme-social-menu a[href*="behance.net"]:before {
  content: "\f1b4";
}

.theme-social-menu a[href*="delicious.com"]:before {
  content: "\f1a5";
}

.theme-social-menu a[href*="deviantart.com"]:before {
  content: "\f1bd";
}

.theme-social-menu a[href*="play.com"]:before {
  content: "\f04b";
}

.theme-social-menu a[href*="wikipedia.com"]:before {
  content: "\f266";
}

.theme-social-menu a[href*="apple.com"]:before {
  content: "\f179";
}

.theme-social-menu a[href*="github.com"]:before {
  content: "\f09b";
}

.theme-social-menu a[href*="github.io"]:before {
  content: "\f09b";
}

.theme-social-menu a[href*="windows.com"]:before {
  content: "\f17a";
}

.theme-social-menu a[href*="tripadvisor."]:before {
  content: "\f262";
}

.theme-social-menu a[href*="slideshare.net"]:before {
  content: "\f1e7";
}

.theme-social-menu a[href*=".rss"]:before {
  content: "\f09e";
}

.theme-social-menu a[href*="vk.com"]:before {
  content: "\f189";
}

.theme-social-menu a[href*="tel:"]:before {
  content: "\f095";
}

.theme-social-menu a[href*="mailto:"]:before {
  content: "\f0e0";
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #ff510d;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover {
  text-decoration: underline;
}

a:hover, a:focus, a:active {
  color: #ff510d;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul:after {
  display: table;
  content: '';
  clear: both;
}

@media (min-width: 768px) {
  .main-navigation ul ul {
    background: #fff;
    -webkit-box-shadow: 0 0 12px rgba(90, 99, 120, 0.4);
    box-shadow: 0 0 12px rgba(90, 99, 120, 0.4);
    float: left;
    position: absolute;
    top: 120%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
}

@media (min-width: 768px) {
  .main-navigation ul ul ul {
    top: 100%;
    left: 100%;
  }
  .main-navigation ul ul ul.toleft {
    left: auto;
    right: 100%;
  }
}

@media (min-width: 768px) {
  .main-navigation ul ul li:hover > ul,
  .main-navigation ul ul li.focus > ul {
    top: 25%;
  }
  .main-navigation ul ul li:hover > ul.toleft,
  .main-navigation ul ul li.focus > ul.toleft {
    left: auto;
    right: 100%;
  }
}

@media (min-width: 768px) {
  .main-navigation ul ul a {
    width: 200px;
  }
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  visibility: visible;
  top: 100%;
  opacity: 1;
  z-index: 10;
}

.main-navigation li {
  margin: 0;
  float: left;
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
  padding: .5rem 1rem;
  color: #7c19c9;
  font-weight: 500;
}

.main-navigation a:hover {
  text-decoration: underline;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
  .main-navigation .dropdown-toggle {
    display: none;
  }
}

.dropdown-toggle {
  background: transparent;
  color: #7c19c9;
  padding: .5rem 0;
  position: absolute;
  right: 0;
  width: 50px;
  text-align: center;
  border: 0;
  z-index: 2;
}

.dropdown-toggle:focus, .dropdown-toggle:active {
  color: #7c19c9;
}

@media screen and (max-width: 767px) {
  .main-navigation .primary-menu-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #fff;
    display: none;
    padding: 0 1.25rem 2.5rem;
  }
  .main-navigation .primary-menu-container > ul {
    max-width: 480px;
    margin: 0 auto;
  }
  .main-navigation .primary-menu-container > ul li {
    width: 100%;
  }
  .main-navigation .primary-menu-container > ul li.menu-item-has-children {
    position: relative;
  }
  .main-navigation .primary-menu-container > ul li.menu-item-has-children a {
    padding-right: 50px;
  }
  .main-navigation .primary-menu-container > ul .sub-menu {
    display: none;
    padding-left: 1.25rem;
  }
  .main-navigation .primary-menu-container > ul .sub-menu.toggled-on {
    display: block;
  }
  .main-navigation.toggled .primary-menu-container {
    display: block;
    border-bottom: 2px solid;
  }
  .site-header.ontop .main-navigation .menu {
    background: rgba(255, 255, 255, 0.95);
  }
}

.menu-toggle {
  background: transparent;
  color: #ff510d;
  border: 0;
  border-radius: 0;
  font-size: 24px;
  font-size: 1.5rem;
}

.menu-toggle:active, .menu-toggle:focus {
  color: #ff510d;
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.navigation.pagination {
  margin-top: 3.125rem;
  margin-bottom: 0;
  font-size: 14px;
  font-size: 0.875rem;
}

.navigation.pagination .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navigation.pagination .nav-links .page-numbers {
  margin: 0 2px 5px;
  width: 36px;
  height: 36px;
  background: transparent;
  color: #801fca;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation.pagination .nav-links .page-numbers:hover {
  text-decoration: none;
}

.navigation.pagination .nav-links .page-numbers:hover:not(.dots) {
  background: #fe530d;
  color: #fff;
}

.navigation.pagination .nav-links .page-numbers.current {
  background: #fe530d;
  color: #fff;
}

.navigation.pagination .nav-links .page-numbers.next {
  margin-left: .625rem;
}

.navigation.pagination .nav-links .page-numbers.prev {
  margin-right: .625rem;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}

.widget select {
  max-width: 100%;
}

.search-form label {
  width: 100%;
}

.search-form .search-submit {
  width: 100%;
  padding: .375em 1em;
}

.widget-area {
  margin-top: 6.25rem;
}

@media (min-width: 992px) {
  .widget-area {
    margin-top: 0;
  }
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.container:after {
  display: table;
  content: '';
  clear: both;
}

.site-content {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 768px) {
  .site-content {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 768px) {
  .site-content {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
}

.site-content {
  padding-top: 150px;
  padding-bottom: 70px;
}

@media (min-width: 992px) {
  .content-area {
    float: left;
    width: calc(100% - 357px);
  }
}

@media (min-width: 992px) {
  .widget-area {
    width: 326px;
    float: right;
  }
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.hentry + .hentry {
  margin-top: 70px;
}

.page-header {
  text-align: center;
  margin-bottom: 3.75rem;
}

.page-header .page-title {
  color: #242424;
}

.entry-header {
  margin-bottom: 2.5rem;
}

.entry-header .categories-list {
  margin-bottom: .5rem;
}

.entry-header .categories-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.entry-header .categories-list ul li {
  display: inline-block;
  margin: 0 .5em .5em 0;
}

.entry-header .categories-list ul li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  font-size: 0.8125rem;
  color: #fff;
  background: #801fca;
  display: block;
  padding: .125em .875em;
  border-radius: 1em;
}

.entry-header .categories-list ul li a:hover {
  text-decoration: none;
  color: #801fca;
  background: transparent;
}

.entry-header .entry-title {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 30px;
  font-size: 1.875rem;
  color: #242424;
  word-wrap: break-word;
}

.entry-header .entry-title a {
  color: inherit;
}

.entry-header .entry-title a:hover {
  text-decoration: none;
  color: #801fca;
}

.entry-header .entry-meta {
  color: #7a8899;
  font-size: 14px;
  font-size: 0.875rem;
}

.entry-header .entry-meta a {
  color: inherit;
}

.entry-header .entry-meta a:hover {
  text-decoration: none;
  color: #801fca;
}

.entry-header .entry-meta > span {
  margin-right: 1.25rem;
}

.entry-header .entry-meta > span i {
  margin-right: .25rem;
}

.entry-footer .tags-links {
  display: block;
  margin-top: 3.75rem;
}

.entry-footer .tags-links > i {
  margin-right: 1.25rem;
}

.post-thumbnail {
  margin-bottom: 2em;
  display: block;
}

body.no-sidebar .content-area {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

body.page-template-template-canvas .site-main > .hentry > .entry-header {
  display: none;
}

body.page-template-template-canvas .site-main > .hentry > .post-thumbnail {
  display: none;
}

body.page-template-template-canvas .site-content {
  padding: 0;
}

body.page-template-template-canvas .site-content > .container {
  max-width: 100%;
}

body.page-template-template-canvas .site-content .content-area {
  width: 100%;
}

.site-main > .not-found {
  min-height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ta-center {
  text-align: center;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comments-area {
  margin-top: 3.75rem;
}

@media (min-width: 992px) {
  .comments-area .comment-form {
    max-width: 600px;
  }
}

.comments-area .comments-title {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.comments-area .comment-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comments-area .comment-list .children {
  list-style: none;
  margin-top: 3.125rem;
}

.comments-area .comment-list .comment {
  margin-bottom: 3.125rem;
}

.comments-area .comment-list .comment:last-child {
  margin-bottom: 0;
}

.comments-area .comment-list .trackback,
.comments-area .comment-list .pingback {
  margin-bottom: 3.125rem;
}

.comments-area .comment-list .trackback:last-child,
.comments-area .comment-list .pingback:last-child {
  margin-bottom: 0;
}

.comments-area .comment-list .trackback .comment-body,
.comments-area .comment-list .pingback .comment-body {
  padding: 0;
}

.comments-area .comment-list .comment-body {
  position: relative;
  padding-left: 120px;
}

.comments-area .comment-list .comment-body .says {
  display: none;
}

.comments-area .comment-list .comment-body .fn {
  color: #242424;
  font-size: 20px;
  font-size: 1.25rem;
}

.comments-area .comment-list .comment-body .fn a {
  color: inherit;
}

.comments-area .comment-list .comment-body .fn a:hover {
  text-decoration: none;
}

.comments-area .comment-list .comment-body .comment-metadata {
  font-size: 14px;
  font-size: 0.875rem;
}

.comments-area .comment-list .comment-body .comment-meta {
  margin-bottom: 1.875rem;
}

.comments-area .comment-list .avatar {
  position: absolute;
  top: 0;
  left: 0;
}

.comments-area .comment-list .reply {
  text-transform: uppercase;
}

.comments-area .comment-respond {
  margin-top: 3.125rem;
}

.site-header {
  background: #fff;
  -webkit-box-shadow: 0 0 12px rgba(90, 99, 120, 0.4);
  box-shadow: 0 0 12px rgba(90, 99, 120, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.25rem 1.25rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 10;
}

@media (min-width: 992px) {
  .site-header {
    padding: 1.25rem 3.125rem;
  }
}

.site-header.ontop {
  background: rgba(255, 255, 255, 0.75);
}

.site-header .site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-header .site-branding .site-title {
  font-size: 30px;
  line-height: 1;
  margin: 0;
  font-weight: 700;
  color: #242424;
}

.site-header .site-branding .site-title a {
  text-decoration: none;
  color: inherit;
}

.site-header .site-branding .site-title a:hover {
  text-decoration: none;
}

.site-header .site-branding .site-description {
  display: none;
}

.site-header .site-branding .custom-logo-link img {
  display: block;
}

.site-header .site-branding .custom-logo-link + .site-title {
  margin-left: .875rem;
}

.site-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-header .container:after {
  display: none;
}

.site-footer {
  background: #060d32;
  color: white;
  padding: 1.875rem 1.25rem;
}

@media (min-width: 992px) {
  .site-footer {
    padding: 1.875rem 3.125rem;
  }
}

.site-footer .site-info {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  font-size: 22px;
}

.site-footer .site-info p {
  margin: 0;
}

.site-footer .site-info a {
  color: #fff;
  text-decoration: none;
}

.site-footer .site-info a:hover {
  text-decoration: none;
}

.site-footer .site-info + .social-menu-container {
  margin-top: 1.25rem;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

.wp-block-button.alignright .wp-block-button__link {
  float: right;
  margin-left: 1.5em;
}

.wp-block-button.alignleft .wp-block-button__link {
  float: left;
  margin-right: 1.5em;
}

.wp-block-button .wp-block-button__link {
  border-radius: 30px;
  background: #ff500d;
  border: 2px solid #ff500d;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  padding: 1.125rem 1.25rem;
}

.wp-block-button .wp-block-button__link:hover {
  text-decoration: none;
  cursor: pointer;
  background: #8529cd;
  border-color: #8529cd;
}

.wp-block-button .wp-block-button__link:active, .wp-block-button .wp-block-button__link:focus {
  text-decoration: none;
}

.wp-block-button .wp-block-button__link.has-background.has-purple-background-color:hover {
  background: #ff500d;
}

.wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  border: 2px solid;
  border-radius: 36px;
  color: #8529cd;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover:not(.has-background) {
  color: #fff;
  background: #8529cd;
}

.wp-block-button.is-style-outline .wp-block-button__link.has-text-color.has-purple-color:not(.has-background):hover {
  color: #ff500d;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: inherit;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background) {
  background: transparent;
}

.wp-block-file .wp-block-file__button {
  display: inline-block;
  border-radius: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-weight: 700;
  line-height: 1;
  padding: 1.125rem 1.25rem;
  background: #ff500d;
  border: 2px solid #ff500d;
  color: #fff;
}

.wp-block-file .wp-block-file__button:hover {
  text-decoration: none;
  cursor: pointer;
  background: #8529cd;
}

.wp-block-file .wp-block-file__button:active, .wp-block-file .wp-block-file__button:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .wp-block-columns {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.wp-block-column {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5em;
}

@media (min-width: 768px) {
  .wp-block-column {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}

.wp-block-column:nth-child(odd) {
  margin-right: 0;
}

.wp-block-column:not(:first-child), .wp-block-column:nth-child(2n) {
  margin-left: 0;
}

@media (min-width: 768px) {
  .wp-block-column:not(:first-child), .wp-block-column:nth-child(2n) {
    margin-left: 30px;
  }
}

@media (min-width: 768px) {
  .wp-block-column:not(:last-child) {
    margin-right: 30px;
  }
}

.wp-block-column > * {
  margin-bottom: 1.5em;
}

.wp-block-column > *:last-child {
  margin-bottom: 0;
}

.wp-block-getwid-media-text-slider .slick-dots {
  max-width: 1400px;
  left: 0;
  right: 0;
  text-align: right;
  bottom: 40px;
}

.wp-block-getwid-media-text-slider .slick-dots li button {
  width: 12px;
  height: 12px;
  background: #fff;
  border: 2px solid #7c19c9;
  opacity: .5;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.wp-block-getwid-media-text-slider .slick-dots li button:hover {
  background: #7c19c9;
  opacity: 1;
}

.wp-block-getwid-media-text-slider .slick-dots li button:before {
  display: none;
}

.wp-block-getwid-media-text-slider .slick-dots li.slick-active button {
  background: #7c19c9;
  opacity: 1;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post-title a {
  color: inherit;
}

.wp-block-getwid-recent-posts .wp-block-getwid-recent-posts__post-title a:hover {
  color: #ff510d;
  text-decoration: none;
}

.wp-block-getwid-testimonial {
  text-align: center;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__content-wrapper + .wp-block-getwid-testimonial__header {
  margin-top: 2.5rem;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__content {
  color: #7a8899;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__image-wrapper {
  max-width: 96px;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__header .wp-block-getwid-testimonial__heading {
  margin: 1rem 0 0 0;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__header .wp-block-getwid-testimonial__title {
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
}

.wp-block-getwid-testimonial .wp-block-getwid-testimonial__header .wp-block-getwid-testimonial__subtitle {
  font-size: 14px;
  font-size: 0.875rem;
}

.wp-block-getwid-advanced-heading p {
  margin-bottom: 0;
}

.wp-block-getwid-section.is-style-bordered {
  border: 1px solid #b8cde4;
  border-radius: 5px;
  overflow: hidden;
}

.getwid-columns {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.getwid-columns.getwid-columns-1 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-1 > * {
    width: 100%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-2 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-2 > * {
    width: 50%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-3 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-3 > * {
    width: 33.33333%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-4 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-4 > * {
    width: 25%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-5 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-5 > * {
    width: 20%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-6 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-6 > * {
    width: 16.66667%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-7 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-7 > * {
    width: 14.28571%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-8 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-8 > * {
    width: 12.5%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-9 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-9 > * {
    width: 11.11111%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-10 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-10 > * {
    width: 10%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-11 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-11 > * {
    width: 9.09091%;
    margin-bottom: 0;
  }
}

.getwid-columns.getwid-columns-12 > * {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .getwid-columns.getwid-columns-12 > * {
    width: 8.33333%;
    margin-bottom: 0;
  }
}

.has-dark-grey-color {
  color: #242424;
}

.has-dark-grey-background-color {
  background-color: #242424;
}

.has-grey-color {
  color: #7a8899;
}

.has-grey-background-color {
  background-color: #7a8899;
}

.has-orange-color {
  color: #ff510d;
}

.has-orange-background-color {
  background-color: #ff510d;
}

.has-purple-color {
  color: #801fca;
}

.has-purple-background-color {
  background-color: #801fca;
}

.has-white-color {
  color: #ffffff;
}

.has-white-background-color {
  background-color: #ffffff;
}

.has-black-color {
  color: #000000;
}

.has-black-background-color {
  background-color: #000000;
}
