h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin-top: 1.5em;
	margin-bottom: .5em;
	font-weight: 700;
	color: #242424;
	&:first-child{
		margin-top: 0;
	}
	&:last-child{
		margin-bottom: 0;
	}
}

h1{
	@include font-size(42/16);
}

h2{
	@include font-size(36/16);
}

h3{
	@include font-size(28/16);
}

h4{
	@include font-size(24/16);
}

h5{
	@include font-size(20/16);
}

h6{
	@include font-size(16/16);
	text-transform: uppercase;
}
