.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.search-form{
	label{
		width: 100%;
	}
	.search-submit{
		width: 100%;
		padding: .375em 1em;
	}
}

.widget-area{
	margin-top: 6.25rem;
	@include respond-to(md){
		margin-top: 0;
	}
}
