ul, ol {
	margin: 0 0 1.5em 0;
	padding-left: 1em;
	&:last-child{
		margin-bottom: 0;
	}
	li{
		margin-bottom: 1em;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: .5em;
	margin-top: 1em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
