.wp-block-table td, .wp-block-table th,
th,
td {
	border: 1px solid #c2cedc;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1.5rem;
	table-layout: fixed;
	/* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	font-weight: 500;
	color: #2a323a;
}

th,
td {
	padding: 6px 10px;
}
