a {
	color: $color__link;
    text-decoration: none;
    transition: all .3s ease;
    &:hover{
        text-decoration: underline;
    }
    
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
