.main-navigation {
	clear: both;
	display: block;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		&:after{
			display: table;
			content: '';
			clear: both;
		}

		ul {
			@include respond-to(sm){
				background: #fff;
				box-shadow: 0 0 12px rgba(#5a6378, 0.4);
				float: left;
				position: absolute;
				top: 120%;
				visibility: hidden;
				opacity: 0;
				transition: all .3s ease;
			}

			ul {
				@include respond-to(sm){
					top: 100%;
					left: 100%;
					&.toleft{
						left: auto;
						right: 100%;
					}
				}
			}

			li {
				&:hover > ul,
				&.focus > ul {
					@include respond-to(sm){
						top: 25%;
						&.toleft{
							left: auto;
							right: 100%;
						}
					}
				}
			}

			a {
				@include respond-to(sm){
					width: 200px;
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			visibility: visible;
			top: 100%;
			opacity: 1;
			z-index: 10;
		}
	}

	li {
		margin: 0;
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
        padding: .5rem 1rem;
        color: #7c19c9;
        font-weight: 500;
		&:hover{
			text-decoration: underline;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@include respond-to(sm){
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}

	.main-navigation{
		.dropdown-toggle{
			display: none;
		}
	}
}

.dropdown-toggle{
	background: transparent;
	color: #7c19c9;
	padding: .5rem 0;
	position: absolute;
	right: 0;
	width: 50px;
	text-align: center;
	border: 0;
	z-index: 2;
	&:focus,
	&:active{
		color: #7c19c9;
	}
}

@media screen and (max-width: $screen-xs-max){
	.main-navigation{
		.primary-menu-container{
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			background: #fff;
			display: none;
			padding: 0 1.25rem 2.5rem;
			> ul{
				max-width: 480px;
				margin: 0 auto;
				li{
					width: 100%;
					&.menu-item-has-children{
						position: relative;
						a{
							padding-right: 50px;
						}
					}
				}
				.sub-menu{
					display: none;
					padding-left: 1.25rem;
					&.toggled-on{
						display: block;
					}
				}
			}
		}
		&.toggled{
			.primary-menu-container{
				display: block;
				border-bottom: 2px solid;
			}
		}
	}
	.site-header.ontop{
		.main-navigation {
			.menu {
				background: rgba(255, 255, 255, 0.95);
			}
		}
	}
}

.menu-toggle{
	background: transparent;
	color: $color__link;
	border: 0;
	border-radius: 0;
	@include font-size(24/16);
	&:active,
	&:focus{
		color: $color__link;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


.navigation.pagination{
	margin-top: 3.125rem;
	margin-bottom: 0;
	@include font-size(14/16);
	.nav-links{
		display: flex;
		align-items: center;
		justify-content: center;
		.page-numbers{
			margin: 0 2px 5px;
			width: 36px;
			height: 36px;
			background: transparent;
			color: #801fca;
			text-align: center;
			line-height: 36px;
			border-radius: 50%;
			transition: all .3s ease;
			&:hover{
				text-decoration: none;
				&:not(.dots){
					background: #fe530d;
					color: #fff;
				}
			}
			&.current{
				background: #fe530d;
				color: #fff;
			}
			&.next{
				margin-left: .625rem;
			}
			&.prev{
				margin-right: .625rem;
			}
		}
	}
}