.wp-block-button{

  &.alignright{
    .wp-block-button__link{
      float: right;
      margin-left: 1.5em;
    }
  }

  &.alignleft{
    .wp-block-button__link{
      float: left;
      margin-right: 1.5em;
    }
  }

  .wp-block-button__link{
    border-radius: 30px;
    background: #ff500d;
    border: 2px solid #ff500d;
    transition: all .3s ease;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    padding: 1.125rem 1.25rem;
    &:hover {
      text-decoration: none;
      cursor: pointer;
      background: #8529cd;
      border-color: #8529cd;
    }
    &:active,
    &:focus{
      text-decoration: none;
    }
    &.has-background.has-purple-background-color{
      &:hover{
        background: #ff500d;
      }
    }
  }
  &.is-style-squared{
    .wp-block-button__link{
      border-radius: 0;
    }
  }
  &.is-style-outline{
    .wp-block-button__link{
      border: 2px solid;
      border-radius: 36px;
      color: #8529cd;
      &:hover{
        &:not(.has-background){
          color: #fff;
          background: #8529cd;
        }
      }
      &.has-text-color.has-purple-color{
        &:not(.has-background){
          &:hover{
            color: #ff500d;
          }
        }
      }
      &:not(.has-text-color){
        color: inherit;
      }
      &:not(.has-background){
        background: transparent;
      }
    }
  }
}

.wp-block-file{
  .wp-block-file__button{
    display: inline-block;
    border-radius: 30px;
    transition: all .3s ease;
    font-weight: 700;
    line-height: 1;
    padding: 1.125rem 1.25rem;
    background: #ff500d;
    border: 2px solid #ff500d;
    color: #fff;
    &:hover {
      text-decoration: none;
      cursor: pointer;
      background: #8529cd;
    }
    &:active,
    &:focus{
      text-decoration: none;
    }
  }
}

.wp-block-columns{
  @include respond-to(sm){
    flex-wrap: nowrap;
  }
}

.wp-block-column{
  flex-basis: 100%;
  flex-grow: 1;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5em;
  @include respond-to(sm){
    flex-basis: 50%;
    flex-grow: 0;
  }

  &:nth-child(odd) {
    margin-right: 0;
  }

  &:not(:first-child), &:nth-child(2n) {
    margin-left: 0;
    @include respond-to(sm) {
      margin-left: 30px;
    }
  }

  &:not(:last-child) {
    @include respond-to(sm) {
      margin-right: 30px;
    }
  }

  > *{
    margin-bottom: 1.5em;
    &:last-child{
      margin-bottom: 0;
    }
  }

}

.wp-block-getwid-media-text-slider{
  .slick-dots{
    max-width: $content_width;
    left: 0;
    right: 0;
    text-align: right;
    bottom: 40px;
    li{
      button{
        width: 12px;
        height: 12px;
        background: #fff;
        border: 2px solid #7c19c9;
        opacity: .5;
        transition: all .3s ease;
        &:hover{
          background: #7c19c9;
          opacity: 1;
        }
        &:before{
          display: none;
        }
      }
      &.slick-active{
        button{
          background: #7c19c9;
          opacity: 1;
        }
      }
    }
  }
}

.wp-block-getwid-recent-posts{
  .wp-block-getwid-recent-posts__post-title{
    a{
      color: inherit;
      &:hover{
        color: $color__link;
        text-decoration: none;
      }
    }
  }
}

.wp-block-getwid-testimonial{
  text-align: center;
  .wp-block-getwid-testimonial__content-wrapper + .wp-block-getwid-testimonial__header{
    margin-top: 2.5rem;
  }
  .wp-block-getwid-testimonial__content{
    color: #7a8899;
  }
  .wp-block-getwid-testimonial__image-wrapper{
    max-width: 96px;
  }
  .wp-block-getwid-testimonial__header{
    flex-direction: column;
    .wp-block-getwid-testimonial__heading{
      margin: 1rem 0 0 0;
    }
    .wp-block-getwid-testimonial__title{
      font-weight: 700;
      @include font-size(18/16);
    }
    .wp-block-getwid-testimonial__subtitle{
      @include font-size(14/16);
    }
  }
}

.wp-block-getwid-advanced-heading{
  p{
    margin-bottom: 0;
  }
}

.wp-block-getwid-section{

  &.is-style-bordered{
    border: 1px solid #b8cde4;
    border-radius: 5px;
    overflow: hidden;
  }

}

.getwid-columns{
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  @for $i from 1 through 12{
    &.getwid-columns-#{$i}{
      $width: 100% / #{$i};
      > *{
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        margin-bottom: 20px;
        @media screen and(min-width: $screen-md-min){
          width: $width;
          margin-bottom: 0;
        }
      }
    }
  }

}

.has-dark-grey-color{
  color: #242424;
}
.has-dark-grey-background-color{
  background-color: #242424;
}

.has-grey-color{
  color: #7a8899;
}
.has-grey-background-color{
  background-color: #7a8899;
}

.has-orange-color{
  color: #ff510d;
}
.has-orange-background-color{
  background-color: #ff510d;
}

.has-purple-color{
  color: #801fca;
}
.has-purple-background-color{
  background-color: #801fca;
}

.has-white-color{
  color: #ffffff;
}
.has-white-background-color{
  background-color: #ffffff;
}

.has-black-color{
  color: #000000;
}
.has-black-background-color{
  background-color: #000000;
}