.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comments-area{
	margin-top: 3.75rem;
	.comment-form{
		@include respond-to(md){
			max-width: 600px;
		}
	}

	.comments-title{
		@include font-size(1.5);
		margin-bottom: 2.5rem;
	}

	.comment-list{
		list-style: none;
		padding: 0;
		margin: 0;
		.children{
			list-style: none;
			margin-top: 3.125rem;
		}
		.comment{
			margin-bottom: 3.125rem;
			&:last-child{
				margin-bottom: 0;
			}
		}
		.trackback,
		.pingback{
			margin-bottom: 3.125rem;
			&:last-child{
				margin-bottom: 0;
			}
			.comment-body{
				padding: 0;
			}
		}

		.comment-body{
			position: relative;
			padding-left: 120px;
			.says{
				display: none;
			}
			.fn{
				color: #242424;
				@include font-size(20/16);
				a{
					color: inherit;
					&:hover{
						text-decoration: none;
					}
				}
			}
			.comment-metadata{
				@include font-size(.875);
			}
			.comment-meta{
				margin-bottom: 1.875rem;
			}

		}
		.avatar{
			position: absolute;
			top: 0;
			left: 0;
		}
		.reply{
			text-transform: uppercase;
		}
	}
	.comment-respond{
		margin-top: 3.125rem;
	}
}