.site-footer{
    background: #060d32;    
    color: white;
    padding: 1.875rem 1.25rem;
    @include respond-to(md){
        padding: 1.875rem 3.125rem;
    }
    .site-info{
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        font-size: 22px;
        p{
            margin: 0;
        }
        a{
            color: #fff;
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }
        + .social-menu-container{
            margin-top: 1.25rem;
        }
    }
}

