.site-header{
    background: #fff;
    box-shadow: 0 0 12px rgba(#5a6378, .4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.25rem 1.25rem;
    transition: all .3s ease;
    z-index: 10;
    @include respond-to(md){
        padding: 1.25rem 3.125rem;        
    }
    &.ontop{
        background: rgba(255, 255, 255, .75);
    }
    .site-branding{
        display: flex;
        align-items: center;
        .site-title{
            font-size: 30px;
            line-height: 1;
            margin: 0;
            font-weight: 700;
            color: #242424;
            a{
                text-decoration: none;
                color: inherit;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .site-description{
            display: none;
        }
        .custom-logo-link{
            img{
                display: block;
            }
            + .site-title{
                margin-left: .875rem;
            }
        }
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:after{
            display: none;
        }
    }
}