.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.hentry{
	+.hentry{
		margin-top: 70px;
	}
}

.page-header{
	text-align: center;
	margin-bottom: 3.75rem;
	.page-title{
		color: #242424;
	}
}

.entry-header{
	margin-bottom: 2.5rem;
	.categories-list{
		margin-bottom: .5rem;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				display: inline-block;
				margin: 0 .5em .5em 0;
				a{
					text-transform: uppercase;
					font-weight: 700;
					@include font-size(13/16);
					color: #fff;
					background: #801fca;
					display: block;
					padding: .125em .875em;
					border-radius: 1em;
					&:hover{
						text-decoration: none;
						color: #801fca;
						background: transparent;
					}
				}
			}
		}
	}

	.entry-title{
		margin-top: 0;
		margin-bottom: .5rem;
		@include font-size(30/16);
		color: #242424;
		word-wrap: break-word;
		a{
			color: inherit;
			&:hover{
				text-decoration: none;
				color: #801fca;
			}
		}
	}

	.entry-meta{
		color: #7a8899;
		@include font-size(.875);
		a{
			color: inherit;
			&:hover{
				text-decoration: none;
				color: #801fca;
			}
		}
		> span{
			margin-right: 1.25rem;
			i{
				margin-right: .25rem;
			}
		}
	}

}

.entry-footer{
	.tags-links{
		display: block;
		margin-top: 3.75rem;
		> i{
			margin-right: 1.25rem;
		}
	}
}

.post-thumbnail{
	margin-bottom: 2em;
	display: block;
}

body{

	&.no-sidebar{
		.content-area{
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}

	&.page-template-template-canvas{
		.site-main{
			> .hentry{
				> .entry-header{
					display: none;
				}
				> .post-thumbnail{
					display: none;
				}
			}

		}
		.site-content{
			padding: 0;
			> .container{
				max-width: 100%;
			}
			.content-area{
				width: 100%;
			}

		}
	}
}

.site-main{
	> .not-found{
		min-height: 65vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.ta-center{
	text-align: center;
}